學習資料/. Net開發/ASP.NET 2.0 企业级项目开发/简单OA系统/SQL Server2003源代码/App_WebReferences/localhosttrain/Train.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetTrain">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="car" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTrainResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTrainResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetTrainSoapIn">
    <wsdl:part name="parameters" element="tns:GetTrain" />
  </wsdl:message>
  <wsdl:message name="GetTrainSoapOut">
    <wsdl:part name="parameters" element="tns:GetTrainResponse" />
  </wsdl:message>
  <wsdl:portType name="TrainSoap">
    <wsdl:operation name="GetTrain">
      <wsdl:input message="tns:GetTrainSoapIn" />
      <wsdl:output message="tns:GetTrainSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TrainSoap" type="tns:TrainSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTrain">
      <soap:operation soapAction="http://tempuri.org/GetTrain" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TrainSoap12" type="tns:TrainSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTrain">
      <soap12:operation soapAction="http://tempuri.org/GetTrain" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Train">
    <wsdl:port name="TrainSoap" binding="tns:TrainSoap">
      <soap:address location="http://localhost/SimpleOA/Train.asmx" />
    </wsdl:port>
    <wsdl:port name="TrainSoap12" binding="tns:TrainSoap12">
      <soap12:address location="http://localhost/SimpleOA/Train.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>