學習資料/. Net開發/ASP.NET 2.0的Web 2.0应用/Web2ASPNET2/WebStore/App_WebReferences/localhost/WebFileService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetFileByFullPath">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fileFullPath" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFileByFullPathResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFileByFullPathResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFileByUrl">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="fileID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFileByUrlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFileByUrlResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFileByData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="fileID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFileByDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFileByDataResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetFileByFullPathSoapIn">
    <wsdl:part name="parameters" element="tns:GetFileByFullPath" />
  </wsdl:message>
  <wsdl:message name="GetFileByFullPathSoapOut">
    <wsdl:part name="parameters" element="tns:GetFileByFullPathResponse" />
  </wsdl:message>
  <wsdl:message name="GetFileByUrlSoapIn">
    <wsdl:part name="parameters" element="tns:GetFileByUrl" />
  </wsdl:message>
  <wsdl:message name="GetFileByUrlSoapOut">
    <wsdl:part name="parameters" element="tns:GetFileByUrlResponse" />
  </wsdl:message>
  <wsdl:message name="GetFileByDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetFileByData" />
  </wsdl:message>
  <wsdl:message name="GetFileByDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetFileByDataResponse" />
  </wsdl:message>
  <wsdl:portType name="WebFileServiceSoap">
    <wsdl:operation name="GetFileByFullPath">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取文件</wsdl:documentation>
      <wsdl:input message="tns:GetFileByFullPathSoapIn" />
      <wsdl:output message="tns:GetFileByFullPathSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFileByUrl">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">根据文件的ID值，从数据库中获取文件</wsdl:documentation>
      <wsdl:input message="tns:GetFileByUrlSoapIn" />
      <wsdl:output message="tns:GetFileByUrlSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFileByData">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">根据文件的ID值，从数据库中获取文件</wsdl:documentation>
      <wsdl:input message="tns:GetFileByDataSoapIn" />
      <wsdl:output message="tns:GetFileByDataSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebFileServiceSoap" type="tns:WebFileServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetFileByFullPath">
      <soap:operation soapAction="http://tempuri.org/GetFileByFullPath" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileByUrl">
      <soap:operation soapAction="http://tempuri.org/GetFileByUrl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileByData">
      <soap:operation soapAction="http://tempuri.org/GetFileByData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebFileServiceSoap12" type="tns:WebFileServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetFileByFullPath">
      <soap12:operation soapAction="http://tempuri.org/GetFileByFullPath" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileByUrl">
      <soap12:operation soapAction="http://tempuri.org/GetFileByUrl" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileByData">
      <soap12:operation soapAction="http://tempuri.org/GetFileByData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebFileService">
    <wsdl:port name="WebFileServiceSoap" binding="tns:WebFileServiceSoap">
      <soap:address location="http://localhost:1912/WebStore/WebFileService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebFileServiceSoap12" binding="tns:WebFileServiceSoap12">
      <soap12:address location="http://localhost:1912/WebStore/WebFileService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>